/*inclusion des polices */


@font-face {
  font-family: 'Comfortaa';
  src: url('polices/Comfortaa_Thin.ttf') format('ttf');
}

body {
  margin: 0;
  font-family: 'Comfortaa''Trebuchet', 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.border {
  border: solid 1px black;
}

.logo {
  /*dimensionement du logo*/
  width: 150px;
  height: 50px;
}